<section>
    <h1>Producto</h1>
    <section class="panel">
        <h3 class="title toggle open">B&uacute;squeda</h3>
        <form name="filter" class="row open toggle-section">
            <div class="form-field col col-4">
                <label>Id</label>
                <input type="text" placeholder="SKU45789634">
            </div>
            <div class="form-field col col-4">
                <label class="label">Nombre</label>
                <input type="text" placeholder="Carlos Berrocal">
            </div>
            <div class="form-field col col-4">
                <label class="label">Descripcion</label>
                <input type="text" placeholder="camiseta deportiva">
            </div>
            <div class="form-field col col-4">
                <label>Stock</label>
                <input type="text" placeholder="5">
            </div>
            <div class="form-field col col-4">
                <label>Precio</label>
                <input type="text" placeholder="$00.00">
            </div>
            <div class="form-field col col-4">
                <label>Category</label>
                <select>
                    <option value="">Todos</option>
                    <option value="1">Ropa</option>
                    <option value="2">Calzado</option>
                    <option value="3">Trajes de bano</option>
                 </select>
            </div>
            <div class="form-field col col-4">
                <label>State</label>
                <select>
                    <option value="">Active</option>
                    <option value="1">Inactive</option>
                </select>
            </div>
            <div class="form-field success col col-1">
                <button class="button success">Buscar</button>
            </div>
        </form>
    </section>
    <section class="panel slim table with-controls">
        <div class="controls">
        <button class="button success">Nuevo Producto</button>
        </div>
        <table>
            <thead>
                <tr>
                <th style="width: 10%;">Id</th> 
                <th style="width: 10%;">Name</th> 
                <th style="width: 27%;">Description</th> 
                <th style="width: 10%;">Stock</th>
                <th style="width: 10%;">Price</th> 
                <th style="width: 10%;">Category</th> 
                <th style="width: 12,5%;">State</th>
                <th style="width: 200%;"></th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>SKU45789634</td>
                    <td>Jeans</td>
                    <td>Pantalon jeans marca Levis</td>
                    <td>3</td>
                    <td>$30.00</td>
                    <td>Ropa</td>
                    <td>Activo</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Estado</label>
                            <span>Activo</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>SKU45789634</td>
                    <td>Jeans</td>
                    <td>Pantalon jeans marca Levis</td>
                    <td>3</td>
                    <td>$30.00</td>
                    <td>Ropa</td>
                    <td>Activo</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Estado</label>
                            <span>Activo</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>SKU45789634</td>
                    <td>Jeans</td>
                    <td>Pantalon jeans marca Levis</td>
                    <td>3</td>
                    <td>$30.00</td>
                    <td>Ropa</td>
                    <td>Activo</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Estado</label>
                            <span>Activo</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>SKU45789634</td>
                    <td>Jeans</td>
                    <td>Pantalon jeans marca Levis</td>
                    <td>3</td>
                    <td>$30.00</td>
                    <td>Ropa</td>
                    <td>Activo</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Estado</label>
                            <span>Activo</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>SKU45789634</td>
                    <td>Jeans</td>
                    <td>Pantalon jeans marca Levis</td>
                    <td>3</td>
                    <td>$30.00</td>
                    <td>Ropa</td>
                    <td>Activo</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Estado</label>
                            <span>Activo</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>  
<div class="modal small">
    <div class="content">
        <h2>Nuevo Producto</h2>
        <form>
            <div class="form-field">
                <label class="label">Id</label>
                <input type="text" placeholder="123456789">
            </div>
            <div class="form-field">
                <label>Name</label>
                <input type="text" placeholder="Jeans">
            </div>
            <div class="form-field">
                <label>Description</label>
                <input type="text" placeholder="Pantalon de Mujer">
            </div>
            <div class="form-field">
                <label>Stock</label>
                <input type="text" placeholder="12">
            </div>
            <div class="form-field">
                <label>Price</label>
                <input type="text" placeholder="$30.00">
            </div>
            <div class="form-field col col-4">
                <label>Category</label>
                <select>
                    <option value="">Todos</option>
                    <option value="1">Ropa</option>
                    <option value="2">Calzado</option>
                    <option value="3">Trajes de bano</option>
                 </select>
            </div>
            <div class="form-feild col col-1">
                <button class="button success">Gaurdar</button>
                <button class="button danger">Cancelar</button>
            </div>
        </form>
    </div>
</div>
