<section class="wrapper">
    <h1>Orden</h1>
    <section class="panel">
        <h3 class="title toggle open">B&uacute;squeda</h3>
        <form name="filter" class="row open toggle-section">
            <div class="form-field col col-3">
                <label>Id</label>
                <input type="text" placeholder="12345678">
            </div>
            <div class="form-field col col-3">
                <label class="label">Fecha Desde</label>
                <input type="datetime-local">
            </div>
            <div class="form-field col col-3">
                <label class="label">Fecha Hasta</label>
                <input type="datetime-local">
            </div>
            <div class="form-field col col-3">
                <label>Total</label>
                <input type="text" placeholder="$30.00">
            </div>
            <div class="form-field col col-3">
                <label>Document Id</label>
                <input type="text" placeholder="5478903540">
            </div>
            <div class="form-field col col-3">
                <label>Nombre</label>
                <input type="text" placeholder="Carlos Berrocal">
            </div>
            <div class="form-field col col-3">
                <label>Phone</label>
                <input class="text" placeholder="50276038">
            </div>
            <div class="form-field col col-3">
                <label>Email</label>
                <input class="text" placeholder="xxxxxxxxxx@xxxx.xxx">
            </div>
            <div class="form-field col col-3">
                <label>Address</label>
                <input class="text" placeholder="San Jose, CR">
            </div>
            <div class="form-field success col col-1">
                <button class="button success">Buscar</button>
            </div>
        </form>
    </section>
    <section class="panel slim table with-controls">
        <div class="controls">
        <button class="button success">Nueva Orden</button>
        </div>
        <table>
            <thead>
                <tr>
                <th style="width: 18%;">Fecha</th> 
                <th style="width: 10%;">Total</th> 
                <th style="width: 10%;">Document Id</th>
                <th style="width: 15%;">Name</th> 
                <th style="width: 10%;">Phone</th> 
                <th style="width: 15%;">Email</th>
                <th style="width: 3%;">Address</th>
                <th style="width: 200%;"></th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>21/02/2022 12:35:00</td>
                    <td>$30.00</td>
                    <td>214853694</td>
                    <td>Carlos Arias</td>
                    <td>89456323</td>
                    <td>perico_gmail.com</td>
                    <td>Puntarenas, CR</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Telefono</label>
                            <span>89456323</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>21/02/2022 12:35:00</td>
                    <td>$30.00</td>
                    <td>214853694</td>
                    <td>Carlos Arias</td>
                    <td>89456323</td>
                    <td>perico_gmail.com</td>
                    <td>Puntarenas, CR</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Telefono</label>
                            <span>89456323</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>21/02/2022 12:35:00</td>
                    <td>$30.00</td>
                    <td>214853694</td>
                    <td>Carlos Arias</td>
                    <td>89456323</td>
                    <td>perico_gmail.com</td>
                    <td>Puntarenas, CR</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Telefono</label>
                            <span>89456323</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>21/02/2022 12:35:00</td>
                    <td>$30.00</td>
                    <td>214853694</td>
                    <td>Carlos Arias</td>
                    <td>89456323</td>
                    <td>perico_gmail.com</td>
                    <td>Puntarenas, CR</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Telefono</label>
                            <span>89456323</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>21/02/2022 12:35:00</td>
                    <td>$30.00</td>
                    <td>214853694</td>
                    <td>Carlos Arias</td>
                    <td>89456323</td>
                    <td>perico_gmail.com</td>
                    <td>Puntarenas, CR</td>
                    <td class="buttons">
                        <button class="button success">Edit</button>
                        <button class="button danger">Delete</button>
                    </td>
                    <td class="mobile">
                        <div class="heading">
                            <h3>SKU45789634</h3>
                            <label class="label">Id</label>
                        </div>
                        <p class="data">
                            <label class="label">Precio</label>
                            <span>$30.00</span>
                        </p>
                        <p class="data">
                            <label class="label">Nombre</label>
                            <span>Carlos Arias</span>
                        </p>
                        <p class="data">
                            <label class="label">Telefono</label>
                            <span>89456323</span>
                        </p>
                        <div class="buttons">
                            <button class="button success">Edit</button>
                            <button class="button danger">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>  
<div class="modal small">
    <div class="content">
        <h2>Nueva Order</h2>
        <form>
            <div class="form-field">
                <label class="label">Fecha</label>
                <input type="datetime-local">
            </div>
            <div class="form-field">
                <label>Id</label>
                <input type="text" placeholder="123456789">
            </div>
            <div class="form-field">
                <label>DocumentId</label>
                <input type="text" placeholder="123456789">
            </div>
            <div class="form-field">
                <label>Name</label>
                <input type="text" placeholder="Camisa deportiva">
            </div>
            <div class="form-field">
                <label>Telefono</label>
                <input type="text" placeholder="123456789">
            </div>
            <div class="form-field">
                <label>Email</label>
                <input type="text" placeholder="123456789">
            </div>
            <div class="form-field">
                <label>Direccion</label>
                <input type="text" placeholder="123456789">
            </div>
            <div class="form-field">
                <label>Total</label>
                <input type="text" placeholder="$00.00">
            </div>
            <div class="form-feild">
                <button class="button success">Gaurdar</button>
                <button class="button danger">Cancelar</button>
            </div>
        </form>
    </div>
</div>
