<header class="navbar">
    <button class="menu">&equiv;</button>
    <figure>
       <img src="/assets/img/Store.png" alt="Store"/>
    </figure>
    <div>
        <button class="material-symbols-sharp" (click)="changeTheme()">{{themes[theme]}}_mode</button>
    </div>
 </header>
 <section class="wrapper">
    <nav class="sidenav">
       <h3 class="category">Men&uacute; Principal</h3>
       <ul class="menu">
          <li class="active">
             <a routerLink="/">
                <span>Orders</span>
             </a>
          </li>
          <li>
             <a routerLink="/">
                <span>Products</span>
             </a>
          </li>
       </ul>
      <h3 class="category">Categories</h3>
      <ul class="menu">
         <li>
         <a routerLink="/">
            <span>Clothing</span>
         </a>
         </li>
         <li>
            <a routerLink="/">
               <span>Footwear</span>
            </a>
         </li>
         <li>
            <a routerLink="/">
               <span>Swimsuit</span>
            </a>
         </li>
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
 </section>

