<div class="wrapper">
  <header class="header-mobile">
      <h1 class="logo">CodeMinds Shop</h1>
      <button class="open-menu" id="open-menu">
          <i class="bi bi-list"></i>
      </button>
  </header>

  <aside>
      <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
      </button>
      <header>
          <h1 class="logo">CodeMinds Shop</h1>
      </header>
      <nav>
          <ul class="menu">
              <li>
                  <a routerLink="/products" routerLinkActive="active" class="menu-button">
                      <i class="bi bi-hand-index-thumb-fill"></i> Productos
                  </a>
              </li>
              <li>
                  <a routerLink="/cart" routerLinkActive="active" class="menu-button">
                      <i class="bi bi-cart-fill"></i> Carrito
                  </a>
              </li>
          </ul>
      </nav>
      <footer>
          <p class="footer-text">© 2024 Code Minds</p>
      </footer>
  </aside>
  <main>
      <router-outlet></router-outlet>
  </main>
</div>